* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

* {
    font-family: $everything-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
}

a {
    color: $font-color;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    background-color: $background-color;
    color: $font-color;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    flex: 1 0 auto;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1em;
    background-color: $main-color;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
}

.header, .footer {
    flex: 0 0 auto;
}

.main img {
    padding-right: 0.5rem;
    float: left;
}

