* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 1em;
}

.header, .footer {
    flex: 0 0 auto;
}

.main img {
    padding-right: 0.5rem;
    float: left;
}

