/* Footer */

.footer {
    background-color: $header-footer-bckg-color;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $header-footer-border-color;
    min-height: 5rem;
}

.footer a {
    color: $font-color;
    text-decoration: none;

    :hover {
        color: $font-alternative-color;
    }
}


.footer {
    padding: 1em;
    overflow-y: auto;

    p {
        font-size: 1.5rem;
        font-family: $header-font;
        /*width: 30vw;*/
    }    
}

.social {
    font-size: 2rem;
}
