/* Header */

.header,
.site-header {
    background-color: $header-footer-bckg-color;
    display: flex;
    justify-content: space-between;
}

.header {
    border-bottom: 2px solid;
    border-color: $header-footer-border-color;
    padding-left: 0.5em;

}

.header a {
    font-family: 'Libre Baskerville', sans-serif;

    &:hover {
        color: $font-alternative-color;
    }
}

/* Title */

.title,
.logo {
    padding: 2em 2em 2em 0;
}

@media (max-width: 900px) {
    .header h1 {
        font-size: 1.4rem !important;
    }

    .title p {
        font-size: 1.0rem !important;
    }

    .logo {
        width: 150px;
    }

}
@media (max-width: 767px) {
    .title,
    .logo {
        padding: 1em 1em 1em 0;
    }

    /*.title {
        min-width: 40%;
    }*/

    .logo {
        width: 100px;
    }
}

.title * {
    color: $font-color;

    &:hover {
        color: $font-alternative-color;
    }
}

.title p {
    font-style: italic;
    text-align: left !important;
}

.title {
    a {
        text-decoration: none;
    }
}

.nav {
    padding-top: 2em;
    font-size: 1.2rem;
    color: $font-color !important;

    a:hover {
        background-color: $hover-background-color;
        color: $font-alternative-color;
    }
}
