@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');

$everything-font: 'Roboto', sans-serif;
$header-font: 'Libre Baskerville', sans-serif;
$font-color: #212121;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
/*analog*/
$header-footer-bckg-color: #f1ba9d;
$background-color: #EB6A50;
$background-alternative-color: #e0fbfc;
$main-color: #f6b36b;
$main-hover: #f5f5dc;
$hover-background-color: rgb(146, 143, 143);
$header-footer-border-color: #222;
$code-pre-background: #f5f5f5;
