{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage">
            {{ content }}
        </div>
        <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/iucW5evsuLE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
