{% include 'incl/header.twig' %}

<body style="background-image: url('{{ assets_url }}/img/16colorsdog.jpg')">
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
