{% include 'incl/header.twig' %}

<body style="background-image: url('{{ assets_url }}/img/16colorsdog.jpg')">
    {% include 'incl/nav.twig' %}
    <div class="two-column-layout">
        <div class="aside" >
            {% for page in pages("technology")|sort_by("time")|reverse if not page.hidden %}
                <div class="post">
                    <em><a href="{{ page.url }}">{{ page.title }}</a></em>
                </div>
            {% endfor %}
        </div>
    <div class="two-column-main" role="main">        
            {{ content }}
    </div>
    </div>
    {% include 'incl/footer.twig' %}
</body>

</html>
